/*!
 * SPDX-FileCopyrightText: 2022 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.login-pane {
  max-width: 800px;
}

.intro-pane {
  max-width: 1000px;
  margin-left: auto;
}
