/*!
 * SPDX-FileCopyrightText: 2021 The HedgeDoc developers (see AUTHORS file)
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.split-divider {
  width: 10px;
  margin-right: 6px;
  margin-left: 6px;
  z-index: 1;
  cursor: col-resize;
  box-shadow: 3px 0 6px #d8d8d8;

  body.dark & {
    box-shadow: 3px 0 6px #d8d8d8;
  }
}

