.preview.vimeo {

  position: relative;
  cursor: pointer;
  display: table;
  width: 100%;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  i {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.4;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    z-index: 1;

    &:hover {
      opacity: 0.8;
    }
  }

  &:hover > i {
    opacity: 0.8;
  }
}
